<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>eeaas-demo</title>
  </head>
  <body>
    <h1>eeaas-demo</h1>
    <code>Type "nyan" to trigger nyancat</code><br>
    <code>Type "snake" to trigger snake</code><br>
    <code>Press "esc" to cancel</code><br>
    <code>Click the button below to trigger snake</code><br>
    <br>
    <button id="snake-trigger-button">Snake trigger</button>
    <script src="app.js"></script>
  </body>
</html>
